body {
    margin: 0;
}

.first {
    height: 700px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-contain {
    text-align: center;
    padding-top: 200px;
}

.top-contain h1 {
    color: azure;
    font-size: 70px;
    font-family: sans-serif;
}

.top-contain p {
    color: aliceblue;
    font-size: 30px;
}

.top-contain a {
    text-decoration: none;
    color: azure;
    background-image: linear-gradient(red, tomato);
    padding: 18px;
    border-radius: 4px;
    font-family: serif;
}

.second {
    text-align: center;
    margin: 50px 0px;
}

.donate-contain {
    padding-top: 50px;
    font-size: xx-large;
}

.money-contain {
    display: flex;
    margin-left: 35%;
}

.normal-money {
    background-color: rgb(226, 223, 223);
    height: 50px;
    width: 100px;
    color: rgb(69, 64, 64);
    padding-top: 30px;
    margin: 0px 10px;
}

.color-money {
    background-color: rgb(241, 219, 215);
    height: 50px;
    width: 100px;
    color: rgb(232, 74, 46);
    padding-top: 30px;
    margin: 0px 10px;
    border: 1px solid red;
}

.another-money-contain {
    margin: 40px 0px;
}

#input-field {
    width: 300px;
    padding: 10px 0px 5px 140px;
}

.button {
    text-decoration: none;
    color: azure;
    background-image: linear-gradient(red, tomato);
    padding: 18px;
    border-radius: 4px;
    font-family: serif;
}

.card-contain {
    display: flex;
    margin-left: 20%;
}


.card1 {
    background-color: rgb(203, 203, 203);
    height: 300px;
    width: 300px;
    padding: 30px 0px 0px 12px;
    margin: 0px 10px;
    text-align: left;
}

.card2 {
    background-color: rgb(236, 226, 217);
    height: 300px;
    width: 300px;
    padding: 30px 0px 0px 12px;
    margin: 0px 10px;
    text-align: left;
}

.card3 {
    background-color: rgb(224, 228, 205);
    height: 300px;
    width: 300px;
    padding: 30px 0px 0px 12px;
    margin: 0px 10px;
    text-align: left;
}

.third {
    display: flex;
    margin: 5% 20%;
}

.third h1 {
    font-size: 40px;
}

#right {
    margin-left: 25px;
}

.final {
    margin: 12% 10% 10% 10%;
    text-align: center;
}

.final h1 {
    font-size: 40px;
}

.final p {
    font-size: 15px;
}

#final-part {
    height: 80px;
    width: 40%;
    margin-left: 25%;
    background-color: rgb(227, 209, 184);
    padding: 60px;
}

#final-part input {
    height: 49px;
}

#foot {
    background-color: black;
    text-align: center;
    color: aliceblue;
    height: 100px;
}

#foot h1 {
    margin-top: 20px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}